{# empty Twig template #}
<div class="sty-box-overflow-auto">
    <div class="col-md-6">
        {{forms.input('nombre','Nombre')}}
        {{forms.textarea_single('identificador','Identificadores (Separados por comas)')}}
    </div>
    <div class="col-md-6">
        <b>Identificadores del sistema</b><br><br>
        <a>DENEGAR_IMPRIMIR_CERTIFICADO:</a> Prohibe la impresión de certificados<br>
        <a>ROLE_ADMIN:</a> Permite el acceso a todas las funciones<br>
    </div>
</div>