{# empty Twig template #}
{% extends template_parent %}
{% block title %}
    Eventos registrados
{% endblock %}
{% block body %}
    <div class="sheet-art sty-box-padding-10">
        {% include 'AcmeSiteBundle:Default:page_header.html.twig' with {section: 'Eventos registrados', subsection: 'Módulo de administración', image: '/img/server.png'} %}

        {% block component %} {{ parent() }}{% endblock %}
    </div>
{% endblock %}
