<div style="background-color:white;margin-top: 100px;">
  <center>
      <div>
          <span class="sty-label-blue">Copyright © 2015 </span> -
          <span class="sty-label-blue">Desarrollado por </span>
          <img align="top" width="18px" height="18px" src="../../img/logo_sfs.png">
          <a target="_blank" href="http://sfs-sfsuser.rhcloud.com/" class="st-y-text-main sty-font-small sty-label" style="color: blue;">SFSSoft</a>
      </div>
  </center>
</div>
