{# empty Twig template #}
<h1>SUBB</h1>

{{sfs_field_imagenes({name: "imagenes", identifier: 'Fraternidad_' ~ element_object.id, title: "Fotos de la fraternidad", section: "IMG1", form_id: 'SchemeEditor_Fraternidad_form', input_id: 'Fraternidad_imagenes', resource_values: '[]', is_multiple: true})}}
